@media (max-width: 768px) {
  .wrapper .left-top-paint-image {
    content: url(../images/768/left_top_paint.svg);
    transform: none;
  }
  .wrapper .right-top-paint-image {
    transform: none;
  }
  .wrapper .header .logo {
    margin-top: 100px;
  }
  .wrapper .main .title {
    font-size: 36px;
  }
  .wrapper .main .subtitle-wrapper {
    margin: 20px 0 40px;
    max-width: 37%;
  }
  .wrapper .main .subtitle {
    font-size: 16px;
  }
  .wrapper .main .time-section {
    margin-bottom: 40px;
  }
  .wrapper .main .time-section .time-section-list .time-section-list__element .time-section-list__element-value {
    font-size: 36px;
  }
  .wrapper .main .time-section .time-section-list .time-section-list__element .time-section-list__element-span {
    height: 40px;
    width: 64px;
    background-image: url(../images/768/time_background.svg);
    font-size: 10px;
  }
  .wrapper .main .event-page-section .event-page-section__link {
    margin-top: 15px;
  }
  .wrapper .footer {
    height: 160px;
    flex-direction: column;
    align-items: center;
  }
  .wrapper .footer .footer__input-wrapper {
    margin-left: 0;
    margin: 40px 0 15px;
    width: 360px;
  }
  .wrapper .footer .footer__input-wrapper .footer__input {
    width: calc(100% - 68px - 20px);
    padding: 10px 68px 10px 20px;
    font-size: 14px;
  }
  .wrapper .footer .footer__input-wrapper .footer__input-button {
    right: 4px;
    top: 4px;
    width: 33px;
    height: 33px;
    content: url(../images/768/arrow-right.svg);
  }
  .wrapper .footer .footer__down-link {
    margin-right: 0;
    margin-bottom: 40px;
    gap: 3px;
  }
  .wrapper .footer .footer__down-link .footer__down-link-span {
    font-size: 16px;
  }
  .wrapper .title {
    margin: 46px 0 20px;
    font-size: 36px;
  }
  .wrapper .events-section {
    width: 688px;
    height: 1172px;
    margin-bottom: 48px;
  }
  .wrapper .events-section .accordion {
    flex-direction: column;
  }
  .wrapper .events-section .accordion .accordion__item {
    flex-direction: column-reverse;
  }
  .wrapper .events-section .accordion .accordion__item .accordion__item-header-wrapper .accordion__item-header {
    flex-direction: row-reverse;
    width: 688px;
    height: 85px;
  }
  .wrapper .events-section .accordion .accordion__item .accordion__item-header-wrapper .accordion__item-header .accordion__item-header-title {
    writing-mode: initial;
    transform: none;
    font-size: 24px;
  }
  .wrapper .events-section .accordion .accordion__item .accordion__item-header-wrapper .accordion__item-header .accordion__item-header-number {
    margin: 27px 32px 26px 40px;
    font-size: 32px;
  }
  .wrapper .events-section .accordion .accordion__item .active {
    width: initial;
    height: 460px;
  }
  .wrapper .events-section .accordion .accordion__item .inactive {
    width: initial;
    height: 0;
  }
  .wrapper .events-section .accordion .accordion__item .accordion__item-body-wrapper {
    transition: height 0.3s ease-out;
  }
  .wrapper .events-section .accordion .accordion__item .accordion__item-body-wrapper .accordion__item-body {
    width: 688px;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .wrapper .events-section .accordion .accordion__item .accordion__item-body-wrapper .accordion__item-body .accordion__item-body-side {
    padding: 0;
    width: 688px;
    height: 192px;
    justify-content: initial;
  }
  .wrapper .events-section .accordion .accordion__item .accordion__item-body-wrapper .accordion__item-body .accordion__item-body-side .accordion__item-body-side-back-span {
    top: -9px;
    left: initial;
    right: -29px;
    font-size: 152px;
  }
  .wrapper .events-section .accordion .accordion__item .accordion__item-body-wrapper .accordion__item-body .accordion__item-body-side .accordion__item-body-side-title {
    font-size: 18px;
    margin: 25px 0 0 40px;
  }
  .wrapper .events-section .accordion .accordion__item .accordion__item-body-wrapper .accordion__item-body .accordion__item-body-side .accordion__item-body-side-date {
    margin: 8px 0 0 40px;
    font-size: 16px;
  }
  .wrapper .events-section .accordion .accordion__item .accordion__item-body-wrapper .accordion__item-body .accordion__item-body-side .accordion__item-body-side-button {
    margin: 29px 0 0 40px;
    width: 169px;
    height: 44px;
    font-size: 16px;
  }
}/*# sourceMappingURL=768px.css.map */